language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=src

install:
    - pip install -U platformio

    # get Homie 2.0 developer branch
    - wget https://github.com/marvinroger/homie-esp8266/archive/develop.zip -O /tmp/homiedevelop.zip
    - unzip /tmp/homiedevelop.zip -d /tmp

script:
    - platformio ci --lib="/tmp" --board=esp12e
