language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=src/demo-all-nodes.cpp

install:
    - pip install -U platformio

script:
    - platformio ci --lib="." --project-conf=platformio.ini
