# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ '*' ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example: [examples/demo-sensor-nodes.cpp, examples/demo-relay-contact-nodes.cpp, examples/demo-pulse-node.cpp, examples/demo-ping-node.cpp]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        
      - name: Install pio and its dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio 
          
      - name: Install Arduino Core for ESP8266
        run: pio platform install espressif8266

      - name: Install Arduino Core for ESP32
        run: pio platform install espressif32

      - name: Install current code as a PlatformIO library with all dependencies
        run: pio lib -g install file://.
      
      - name: Run PlatformIO CI
        run: pio ci --board=<esp01_1m> --board=<d1_mini>
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}
